
    <footer>
            <div class="fly29">
                <div class="fly30">
                <div class="fly31">
                    <div class="fly5">SKILLVAULT</div>
                </div>
                <ul class="fly32">
                    <li>
                        <p class="fly33">Help</p>
                    </li>
                    <li class="fly34">
                        <a href="/login">Log In / Register</a>
                    </li>
                    <li class="fly34">
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                    <li class="fly34">
                        <a href="/support">Support</a>
                    </li>
                </ul>
                <ul class="fly32">
                    <li>
                        <p class="fly33">About</p>
                    </li>
                    <li class="fly34">
                        <a href="/Whyskillvault">Why SkillVault?</a>
                    </li>
                    <li class="fly34">
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="fly35">
                <div class="fly36">
                    <div class="fly39">SKILLVAULT</div>
                    <div class="fly37">
                    <div>© All rights reserved</div> 
                    <div>Privacy Policy</div>
                    <div class="fly38">/</div>
                    <div>Terms of Use</div>
                    <div class="fly38">/</div>
                    <div>Cookie Policy</div>
                    <div>Manage Cookie Preferences</div>
                    <div class="fly38">/</div>
                    <div>WA Privacy Notice</div>
                </div>
                </div>
            </div>
        </footer>