<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include("partials/header.ejs") %>
    <div class="fly43">
        <div class="fly44">
            <form method="POST" action="/forgot-password" class="forgetForm">
                <h1 class="reset">Reset Your Password</h1>
                <input class="fly67" type="text" name="email" placeholder="Enter your email" required>
                <input class="fly67" type="password" name="new_password" placeholder="New Password" required>
                <button class="reset-button" type="submit">Set Password</button>
            </form>
        </div>
    </div>
</body>
</html>